				<div class="col-12 mb-3 mt-3">
					<h4>Запись на тренировку</h4>
				</div>
				<div class="col-md-12 col-12 mt-3 mb-3">
					<label for="">Выберите занятие</label>
					<select ng-model="cart_elem.choosen_trainer_id" ng-change="cart_elem.get_trainings();" ng-class="cart_elem.choosen_trainer_id == '0' ? 'select-attention' : ''" class="form-control w-100" ng-options="trainer.id as trainer.fio for trainer in trainers">
					
					</select>
				</div>
				<div class="col-md-12 col-12 mt-3 mb-3">
    				<div class="attrs-list w-100">
        				<label ng-repeat="trains in cart_elem.trains_var track by $index" class="w-checkbox checkbox-field">
        					<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-2"></div>
        					<input type="radio" ng-change="cart_elem.choosen_id_fied_check();cart_elem.check_full(); cart_elem.update()" ng-model="cart_elem.choosen_field_id" value="{{trains.id}}" id="checkbox-3" name="dates"  style="opacity:0;position:absolute;z-index:-1" class="workout-attr-radio"><span class="checkbox-label-2 w-form-label">{{trains.date_from.substr(0, 10)}}</span>
        				</label>
    				</div>
				</div>

				<div class="col-6 mt-4 mb-4">
					<label for="from">Время от: </label>
				  <select class="form-control" ng-model="cart_elem.time_start" ng-change="cart_elem.update()" ng-options="timee as timee+':00' for timee in  cart_elem.time_start_vals" >
				  </select>
				</div>
				<div class="col-6 mt-4 mb-4">
				  <label for="to">Время до: </label>
				   <select class="form-control" ng-model="cart_elem.time_end" ng-change="cart_elem.update()" ng-options="timee as timee+':00' for timee in cart_elem.get_to_times()">
		
				  </select>
				</div>
				
			
				<div ng-if="cart_elem.buttons" class="col-6 mt-4 mb-4">
					<button ng-click="copy_elem_from_cart(cart_elem)" class="w-100 btn">Добавить еще запись</button>
				</div>
				<div ng-if="cart_elem.buttons" class="col-6 mt-4 mb-4">
					<button ng-click="del_elem_form_cart(cart_elem)" class="w-100 btn">Удалить услугу</button>
				</div>
								<hr>	
